
/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


/* VARIABLES */

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}


/* TYPOGRAPHY */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: var(--red);
    background-image: url("./images/bg-intro-mobile.png");
    color: white;
    text-align: center;
}

a.offer {
    color: white;
    text-decoration: none;
}

input {
    font-weight: 700;
}

button {
    color: white;
    text-transform: uppercase;
}

form p.terms {
    color: var(--grayish-blue);
    font-size: 0.7rem;
}

form p.terms a {
    color: var(--red);
    text-decoration: none;
}

.alert {
    color: var(--red);
    font-size: 0.7rem;
}

i.exclamation {
    color: var(--red);
    font-size: 1.5rem;
}


/* LAYOUT */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

main,
footer {
    width: 90%;
    margin: auto auto;
}

h1 {
    margin-top: 1.5em;
    line-height: 1.2em;
}

.mission p {
    margin-top: 1.5em;
}

a.offer,
form {
    border-radius: 8px;
    box-shadow: 0px 8px rgba(0, 0, 0, 0.15);
}

a.offer {
    background-color: var(--blue);
    padding: 1em 3em;
    display: block;
    margin-top: 3em;
}

form {
    background-color: white;
    padding: 1em 0;
    margin-top: 2em;
}

input,
button {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    border-radius: 5px;
    padding: 1.2em 1em;
}

input {
    width: 80%;
    border: 1px solid var(--grayish-blue);
}

.input-error {
    border-color: var(--red);
    color: var(--red);
}

.input-wrapper {
    position: relative;
}

.alert {
    text-align: right;
    margin-top: 0.5em;
    padding-right: 6.5%;
    display: none;
}

i.exclamation {
    position: absolute;
    top: 35%;
    right: 8%;
    transform: translate(-50%, -50%);
    display: none;
}

.show {
    display: block !important;
}

button {
    background-color: var(--green);
    border: none;
    width: 90%;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
}

form p.terms {
    padding: 0 4em;
    margin-top: 1em;
    line-height: 1.5em;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* MEDIA QUERIES */

@media (min-width:750px) {
    
    body {
        background-image: url("./images/bg-intro-desktop.png");
        text-align: left;
    }
    
    main {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .mission {
        width: 45%;
        align-self: center;
    }

    h1 {
        font-size: 3rem;
    }

    .form {
        width: 48%;
    }

    input,
    button {
        margin-top: 2.2em;
    }

    .alert {
        margin-right: 0.5em;
        margin-bottom: -1em;
    }

    form p.terms {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        text-align: center;
    }
}